{% extends 'base.html' %}
{% block title %}节点{% endblock %}
{% block nav-item-1 %}layui-nav-itemed{% endblock %}
{% block nav-this-1-1 %}layui-this{% endblock %}
{% block content %}
    <div class="layui-card"
         style="background-image: url(/static/cssimage/img/test.jpg);background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;animation: run 10s infinite linear;">
        <div class="layui-card-body">

            <div class="layui-row">
                <div class="layui-col-md12">
                    <input type="text" name="name" class="layui-input" style="width: 150px;float: left" id="keyword">
                    <button class="layui-btn" style="float: left" id="searchBtn">搜索</button>
                </div>
                <div class="layui-col-md12">
                    <table class="layui-hide" id="test" lay-filter="test"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="more">更多</a>
                    </script>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        layui.use(['dropdown', 'util', 'layer', 'table', 'form'], function () {
            var table = layui.table;
            var dropdown = layui.dropdown
            var $ = layui.jquery;
            var form = layui.form;
            var layer = layui.layer;

            table.render({
                elem: '#test'
                , url: '{% url 'node_api' %}'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'

                }]
                , title: '用户数据表'
                , cols: [[
                    {field: 'name', title: '名称', sort: true,templet: proofPicture}
                    , {field: 'labels', title: '标签', templet: labelsFormat}
                    , {field: 'status', title: '状态'}
                    , {field: 'scheduler', title: '可调度'}
                    , {field: 'cpu', title: 'CPU'}
                    , {field: 'memory', title: '内存'}
                    , {field: 'kebelet_version', title: '版本'}
                    , {field: 'cri_version', title: 'Docker版本'}
                    , {field: 'create_time', title: '创建时间'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]]
                , page: true
                , id: 'ntb',

            });


            function proofPicture(d) {
                    var proofPicture = d.name;
                    console.log(proofPicture)
                    if ('' == proofPicture || null == proofPicture || undefined == proofPicture) {
                        return '';
                    }
                    if(proofPicture.length > 0) {
                        return `<a style="color: #01AAED" class="layui-blue"  href="{% url 'node_details' %}?node_name=${proofPicture}"  lay-event="picture">${proofPicture}</a>`
                    }
                }


            function labelsFormat(d) { //根据上面的{field: 'labels', title: '标签', templet: labelsFormat} 循环打印标签和空标签判断展示
                //console.log(d.labels)
               return labels(d)
            }

            function labels(d) {
                 result = "";
                if (d.labels == null) {
                    return "无标签"
                } else {
                   const labelObj = []
                    for (let key in d.labels) {
                        let childObj = {
                            name: key,
                            value: d.labels[key]
                        }
                        labelObj.push(childObj)
                    }
                    for (let i = 0; i < labelObj.length; i++) {
                        if (i > 5) {
                            return result
                        }
                        result += `<span style="border:3px solid #d6e5ec;border-radius: 8px;background: #78c9cf;box-shadow: 10px 2px 3px 1px black;">
                        ${labelObj[i].name}:${labelObj[i].value} </span><br>`
                    }
                    return result
                }
            }

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var that = this
                var data = obj.data;
                console.log(data)


                if (obj.event === 'more') {
                    //更多下拉菜单
                    dropdown.render({
                        elem: that
                        , show: true //外部事件触发即显示
                        , data: [{
                            title: '升级'
                            , id: 'update'
                        }, {
                            title: '查看YAML'
                            , id: 'yaml'
                        }, {
                            title: '删除'
                            , id: 'del'
                        }, {
                            title: '详情'
                            , id: 'details'
                        }]

                        , click: function (da, othis) {
                            //根据 id 做出不同操作
                            if (da.id === 'del') {
                                layer.confirm('真的要删除' + data["name"] + "这个Node吗？",
                                    {
                                        btn: ['确认删除' + data["name"] + 'node', '取消'],
                                        content: '<div  style="padding: 50px; line-height: 22px; background-color: #393D49; color: crimson; font-weight: 300;"> <b>node用于组织 Kubernetes 集群中的对象，每个node都使用唯一的名称进行指定, 删除node的同时将移除其所有资源对象。</b> </div>'
                                    }, function (index) {
                                        csrf_token = $('[name="csrfmiddlewaretoken"]').val();
                                        $.ajax({
                                            url: '{% url 'node_api' %}',
                                            type: "DELETE",
                                            data: data, //代表你选中的数据提交给Django
                                            headers: {"X-CSRFToken": csrf_token},
                                            success: function (res) {
                                                if (res.code == 0) {
                                                    layer.msg(res.msg, {icon: 6}); //icon: 6爱心笑脸
                                                    obj.del() //网页进行删除
                                                } else {
                                                    layer.msg(res.msg, {icon: 5})//icon: 5哭笑脸
                                                }
                                            },
                                            error: function () {
                                                layer.msg("服务器接口异常", {icon: 5})//icon: 5哭笑脸
                                            }
                                        })

                                    });
                            } else if (da.id === 'yaml') {
                                layer.open({
                                    title: 'YAML',
                                    type: 2,
                                    area: ['50%', '60%'],
                                    btn: ['更新', '取消']
                                    , yes: function (index, layero) {
                                        alert("更新回调")
                                    }
                                    , no: function (index, layero) {
                                        //按钮【按钮二】的回调

                                    },
                                    content: "{% url 'ace_editor' %}?resource=node&" + 'namespace=' + data['namespace'] + '&name=' + data['name'],
                                })
                            } else if (da.id === 'details') {
                                    window.location.href = "{% url 'node_details' %}?node_name=" + data["name"]
                            }

                        }
                        , align: 'right' //右对齐弹出（v2.6.8 新增）
                        , style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                    })
                }
            });
            // 监听搜索按钮事件


            $('#keyword').bind('keydown', function (event) {
                if (event.keyCode == 13){
                        document.getElementById("searchBtn").click();
                }
            });

            // 监听搜索按钮事件

            $("#searchBtn").click(function () {
                var search_key = $("input[name='name']").val();
                table.reload('ntb', {
                    where: { //设定异步数据接口的额外参数，任意设
                        search_key: search_key
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据
            })

        });
    </script>

{% endblock %}